body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.nav {
  margin-top: 0;
  background-color: rgb(63, 60, 60);
  color: white;
  display: flex;
  height: 100px;
  align-items: center;
}

.home {
  margin-top: 0;
  width: 100%;
  height: 670px;
  text-align: center;
  align-items: center;
  /* background-color: rgb(195, 221, 195); */
  background-color: rgb(197, 223, 240);
  /* background-color: rgb(236, 180, 115); */
}
.bg {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTl8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  display: flex;
  /* width: 1220px; */
  height: 700px;
  background-repeat: no-repeat;
  /* margin-left: 30%; */
  background-size: 1000px;
  /* margin-top: 1rem; */
  border: tomato solid 0.2rem;
}

.side {
  background-color: rgb(63, 60, 60);
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  transition: 900ms;
  left: -100%;
  justify-content: center;
  /* background-color: transparent; */
}

.side.active {
  left: 0;
  transition: 450ms;
}
.cross {
  background-color: rgb(63, 60, 60);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: start;
  align-content: center;
  height: 60px;
  list-style: none;
  padding: 8px 0px 8px 16px;
  font-style: normal;
}
.nav-links a {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 0px 16px;
  width: 95%;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}
.nav-links a:hover {
  /* background-color: #1a83ff; */
  background-color: pink;
}

span {
  margin-left: 16px;
}
.hotel-pic {
  width: 300px;
  height: 300px;
}

.hotel-cont {
  display: flex;
  border: tomato solid 0.2rem;
}
.hotel {
  display: inline;
  padding: 2rem;
  position: relative;
  border: tomato solid 0.2rem;
}
.hotel-name {
  /* color: white; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
}
